.grid-card {
  height: 210px;
  width: 170px;

  position: relative;
  text-align: center;

  cursor: pointer;

  .grid-card__img {
    height: 200px;
    border-radius: 6px;

    &--none {
      filter: grayscale(1) brightness(0.7);
    }
  }

  .grid-card__text-area {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .grid-card__title {
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .grid-card__quantity {
    color: white;
    font-size: 17px;
    font-weight: 400;

    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;

    &--none {
      color: gray;
    }
  }

  &--none {
    cursor: default;
  }
}
