.grid-card {
  height: 160px;
  width: auto;
  background-color: transparent;

  position: relative;
  text-align: center;

  cursor: pointer;

  .grid-card__img {
    height: 160px;

    &--none {
      filter: grayscale(1) brightness(0.7);
    }
  }

  .grid-card__text-area {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 1.2rem;
  }

  .grid-card__title {
    color: white;
    font-size: 12px;
    font-weight: 600;
  }

  .grid-card__quantity {
    color: white;
    font-size: 17px;
    font-weight: 400;

    position: absolute;
    bottom: -0.5rem;
    right: 0.2rem;

    &--none {
      color: gray;
    }
  }

  &--none {
    cursor: default;
  }
}
