<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    @if (setData) {
    <ion-title [innerHTML]="setData.name | rubyText" />
    } @if (game) {
    <app-header-coin [img]="currencyImg" [amount]="userMoney"></app-header-coin>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-toggle [checked]="showAllCards" (ionChange)="showAllCards=$event.detail.checked"> Show All </ion-toggle>
    </ion-item>
  </ion-list>
  @if (setData) { @if (canGetFreePack && !isPromoSet) {
  <ion-button expand="full" (click)="openPack()">Open Pack</ion-button>
  } @else if (!canGetFreePack) {
  <ion-button expand="full" [disabled]="true">Next Pack in: {{timeToNextPack}}</ion-button>
  }

  <ion-grid>
    <ion-row class="card-list justify-content-center">
      @for (card of setData.cardList; track card; let index = $index) { @if (cardsData[index] && (showAllCards ||
      cardsData[index].quantity > 0)) {
      <ion-col size="auto">
        <app-grid-card
          [image]="cardsData[index].image"
          [backImage]="backImage"
          [name]="card.name"
          [quantity]="cardsData[index].quantity"
          [borderRadius]="setData.borderRadius"
          [showUnobtainedInfo]="!hideUnobtainedCards"
          (click)="openCardModal(cardsData[index], card)"
        />
      </ion-col>
      } }
    </ion-row>
  </ion-grid>
  }
</ion-content>
