<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    @if (setData) {
    <ion-title [innerHTML]="setData.name | rubyText" />
    } @if (game) {
    <app-header-coin [img]="currencyImg" [amount]="userMoney"></app-header-coin>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (setData) { @if (canGetFreePack) {
  <ion-button expand="full" (click)="openPack()">Open Pack</ion-button>
  }

  <ion-grid>
    <ion-row class="card-list justify-content-center">
      @for (card of setData.cardList; track card; let index = $index) {
      <ion-col size="auto">
        <app-grid-card
          [image]="cardsData[index].image"
          [name]="card.name"
          [quantity]="cardsData[index].quantity"
          (click)="openCardModal(cardsData[index])"
        />
      </ion-col>
      }
    </ion-row>
  </ion-grid>
  }
</ion-content>
