<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ title }} </ion-title>
    @if (selectedGame) {
    <app-header-coin [img]="currencyImg" [amount]="userMoney"></app-header-coin>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    @if (!games.length) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        No games installed were found. You can add new games in settings, on the top left icon or manually installing
        them in your Documents/CardCollectorSimulator folder.
      </ion-card-content>
    </ion-card>
    } @else {
    <ion-item>
      <ion-label>Games</ion-label>
      <ion-select (ionChange)="onGameSelectionChange($event)">
        @for (game of games; track game) {
        <ion-select-option [value]="game">{{ game.name }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-row>
        @for (item of gridItems; track item) {
        <ion-col size="6">
          <app-grid-item
            (click)="onSetClick(item)"
            (download)="onDownloadSetClick(item)"
            [image]="item.image"
            [name]="item.name"
            [progress]="item.progress"
            [isDownloaded]="item.isDownloaded"
          ></app-grid-item>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
    }
  </div>
</ion-content>

<ion-footer class="home-footer">
  <p class="build-number">{{versionNumber}}</p>
</ion-footer>
