<ion-header>
  <ion-toolbar>
    <ion-title> {{ title }} </ion-title>
    @if (selectedGame) {
    <app-header-coin [img]="currencyImg" [amount]="userMoney"></app-header-coin>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-item>
      <ion-label>Games</ion-label>
      <ion-select (ionChange)="onGameSelectionChange($event)">
        @for (game of games; track game) {
        <ion-select-option [value]="game">{{ game.name }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-row>
        @for (item of gridItems; track item) {
        <ion-col size="6">
          <app-grid-item
            (click)="onSetClick(item.id)"
            [image]="item.image"
            [name]="item.name"
            [progress]="item.progress"
          ></app-grid-item>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="home-footer">
  <p class="build-number">{{versionNumber}}</p>
</ion-footer>
